.loginpage{
    background-image: url('../../public/blue.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;


   
    
/* padding-top: 60px; */

}
.title{
    color: white;
    /* margin-bottom: 40px;
    margin-top: 40px; */

    margin: 50px 0px;
}
.formpage{
    width: 300px;
    height: 400px;
    background-color: rgba(110, 193, 216, 0.4) ;
    margin :auto;
    text-align: center;
    padding-top: 40px;
    border: white;
    border-radius: 10px;
    border-color: rgb(83, 150, 226);

    /* margin-top: 200px; */
    /* background-position: center; */
}
.input{
    padding: 10px;
    /* margin-top: 50px; */
    
    
    border-radius: 5px;
    border-color: white;
    border: none;


}
.input1{
    margin-top: 10px;
}


.loginbtn{
    margin-top: 25px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(84, 174, 230, 0.575);
    border: none;
    color: white;

    

}
.loginbtn:hover{
    border: 1px solid white;
    border-color: white
    /* background-color: aquamarine; */
}
.input:hover{
    border:1px solid white;
    border-color: rgb(117, 182, 242);
}
.input:focus{
    outline: none;
}